.dropdown-toggle, .dropdown-item, .nav-item {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

img {
    max-height: 50px;
    border: 1px solid rgb(10, 10, 10);
    display: inline;
}

.dropdown-item {
    background-color: rgb(246, 245, 249);
}